.weather-today {
    height: 300px;
    position: relative;
    margin-left: 80%;
}

h1 {
    font-size: 3em;
}


.icon-big {
    margin-top: 2em;
}

.small-temp,
.big-temp {
    font-size: 5em;
    position: relative;
}


.big-temp:after,
.small-temp:after {
    content: "\B0 F";
    opacity: 0.3;
    font-family: monospace;
    position: absolute;

}

.icon-wrapper {
    position: relative;
}
